{{!-- about us section start --}}
    <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us </h1>
          <p class="text-center sub-heading">grow your bussiness with us</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text ">
                <figure>
                  <img src="images/about.svg" alt="hero section image" height="350px">
                </figure>
            </div>

            {{!-- right side description side --}}

            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                <h1>WE HAVE PROFESSIONAL CONSULTANTS</h1>
                <h1>TO SOLVE YOUR PROBLEMS</h1>
                <p>We have professional expert advice in a particular area such as <span class="bold-style">security </span>, <span class="bold-style">engineering</span> management, human resources,  <span class="bold-style">marketing</span> , financial control, science, digital transformation, <span class="bold-style">exit planning </span> from any feilds.</p>
                <button class="btn-style btn-primary">Read More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- about us section ends --}}